<div class="chat-show">
  <div class="chats-index-header">
    <nav class="breadcrumb">
      <%= link_to "Home", products_path, class: "breadcrumb-item" %>
      <%= link_to @chat.product.name, product_path(@chat.product), class: "breadcrumb-item" %>
      <span class="breadcrumb-item active">Chat</span>
    </nav>
  </div>

  <div class="chat-show-body">
    <h1 class="chat-show-title"><%= @chat.title %></h1>

    <div class="chat-messages">
      <% @chat.messages.each do |message| %>
        <div class="chat-message chat-message-<%= message.role %>">
          <div class="chat-message-bubble">
            <%= simple_format(message.content) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="chat-input-container">
      <%= simple_form_for [@chat, @message] do |f| %>
        <div class="chat-input-wrapper">
          <%= f.input :content, as: :text, label: false, input_html: { class: "chat-input", placeholder: "What do Gen Z users think about this product?", rows: 1 } %>
          <%= f.button :submit, class: "chat-send-btn" do %>
            <i class="fa-solid fa-arrow-up"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
